/*****Elements*****/
body {
    margin: 0;
    font-family: 'Merriweather', serif;
    color: rgb(78, 78, 78);
    text-align: center;
    background-color: rgb(180, 199, 221);

}

div {
    padding: 5px;
}

h1 {
    font-size: 10rem;
    margin: 2rem auto 0 auto;
    font-family: 'Sacramento', cursive;

}

h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
}

p {
    font-size: medium;
}

hr {
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    width: 20%;
}

a {
    color: inherit;
    text-decoration: none;
}

a {
    background:
        linear-gradient(to left,
            rgb(251, 253, 253),
            rgb(0, 120, 120),
            rgb(251, 253, 253)),
        linear-gradient(to right,
            rgb(251, 253, 253),
            rgb(0, 120, 120),
            rgb(251, 253, 253));
    background-size: 100% 0px, 0% 0px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 400ms;
    padding: 0.5rem;
    color: #1F999E;
}

/*****Classes*****/

.topContainer {
    position: relative;
    padding-top: 2rem;
    background-color: #FAF7F0;
}

.profile {
    background-color: #CDFCF6;
    padding-top: 1rem;
}

.skills {
    background-color: #BCCEF8;
}

.contactMe {
    background-color: #98A8F8;
}

.bottomContainer {
    background-color: #98A8F8;
}

.warm {
    text-decoration: underline;
}

.sun {
    height: 100px;
    width: 100px;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.giphy {
    font-size: x-small;
}

/*****forgot the name*****/

a:hover {
    background-size: 0 3px, 100% 3px;
}