/*****Elements*****/
body {
    margin: 0;
    font-family: 'Merriweather', serif;
    color: rgb(78, 78, 78);
    text-align: center;
    background-color: #CDFCF6;

}

div {
    padding: 5px;
}

h1 {
    font-size: 10rem;
    margin: 2rem auto 0 auto;
    font-family: 'Sacramento', cursive;

}

h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 20px;
}

p {
    font-size: medium;
    line-height: 1.5;
}

hr {
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    width: 6%;
    margin: 2rem auto;
}

a {
    color: inherit;
    text-decoration: none;
}

a {
    background:
        linear-gradient(to left,
            rgb(251, 253, 253),
            rgb(0, 120, 120),
            rgb(251, 253, 253)),
        linear-gradient(to right,
            rgb(251, 253, 253),
            rgb(0, 120, 120),
            rgb(251, 253, 253));
    background-size: 100% 0px, 0% 0px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 400ms;
    margin: auto 1rem;
    color: #1F999E;
    font-family: 'Montserrat', sans-serif;;
}

/*****Classes*****/

.topContainer {
    position: relative;
    padding-top: 2rem;
    background-color: #FAF7F0;
}

.profile {
    background-color: #CDFCF6;
    width: 70%;
    padding-top: 1rem;
    margin: auto;
    text-align: center;
    line-height: 1.5;
    
}

.skills {
    background-color: #CDFCF6;
}

.contactMe {
    background-color: #CDFCF6;
}

.bottomContainer {
    background-color: #CDFCF6;
    margin: 2rem auto;
}

.warm {
    text-decoration: underline;
}


.center {
    margin-left: auto;
    margin-right: auto;
}

.giphy {
    font-size: x-small;
}

.gifs {
    width: 100px;
    height: 100px;
}

.fam1 {
    width: 15%;
    float: left;
    margin-right: 30px;
}

.fam2 {
    width: 15%;
    float:right;
    margin-left: 30px;
}

.intro {
    width: 60%;
    margin: auto;
}

.contactMessage {
    width: 60%;
    margin: 1rem auto 2rem;
    }

.copywright {
    color:rgb(166, 170, 170);
    margin: 2rem auto;
    font-size: 0.75rem;
}
/*****forgot the name*****/

a:hover {
    background-size: 0 3px, 100% 3px;
}

.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #20e3cb;
    background-image: -webkit-linear-gradient(top, #20e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #20e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #20e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #20e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #20e3cb, #2bc4ad);
    text-decoration: none;
  }